<html>
    <head>
        <meta charset="utf-8" />
        <title>
            Hack Health Challenge 1
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    
    <body>
        <div class="chart-canvas" id="chart-canvas">
        </div>
        <div class="chart-text" id="chart-text">
        </div>
        <div class="display-cover">
            <video autoplay></video>
        
            <div class="video-options">
                <select name="" id="" class="recording-length">
                    <option value="60">Recording length: 60s</option>
                    <option value="30">Recording length: 30s</option>
                </select>
                <select name="" id="" class="select-facing-mode">
                    <option value="environment">Facing mode: environment</option>
                    <option value="any">Facing mode: any</option>
                    <option value="user">Facing mode: user</option>
                </select>
                <select name="" id="" class="select-camera">
                    <option value="">Select camera</option>
                </select>
            </div>
        
            <div class="controls">
                <button class="btn btn-danger play" title="Play">start</button>
                <button class="btn btn-info pause d-none" title="Pause">pause</button>
            </div>

            
            <div class="recording-text">Touch screen to begin.</div>
            <div class="ppg-text">ppg:</div>
        </div>        

        <script type="module" src="{{ url_for('static', filename='index.js') }}"></script>  
    </body>
</html>